# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables
.env
.env.*

# OS-specific files
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/

# AWS SAM or serverless outputs
.aws-sam/

# Coverage directory used by testing tools
coverage/

# IDE configs
.vscode/
.idea/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# Misc
*.swp
*.swo
*.bak
